#main-navbar {
  background-color: #faebd7;
  overflow: hidden;
}

ul {
  border: .2rem solid black;
}

#main-navbar ul {
  list-style-type: none;
  margin: 15px;
  display: inline-block;
}

#main-navbar ul li {
  float: left;
}

#main-navbar ul li a{
  font-family:'Tangerine', serif;
  text-decoration: none;
  padding: 30px 30px;
  color:black;
  font-size: 3em;
}

#navbar-container{
  width: 100%;
  position: relative;
  text-align: center;
}

#main-navbar ul li a:hover {
  color: white;
}

#main-navbar #onpage {
  text-decoration: underline overline;
}

#bike {
  position: relative;
  width: 500px;
  height: 300px;
}

#video {
  text-align: center;
  margin: auto;
  height: 50em;
  width: 100%;
}

#lobby {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#jones {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 43.5rem;
}

body {
  background-color: #faebd7;
}